@{
    ViewBag.Title = "Forum";
}


<h2>Forum</h2>
@if (Session["Admin"] != null)
{
    <p>
        @Html.ActionLink("Stwórz ", "CreateAdmin", new { id = Url.RequestContext.RouteData.Values["id"] })
    </p>
}
<div>
    <table id="forum" class="table table-striped">
        <thead>
            <tr>
                <th>
                    Kategoria
                </th>
                <th>
                    Wątki
                </th>
                <th>
                    Wypowiedzi
                </th>
                <th>
                    Ostatnia wypowiedź
                </th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Lol</td>
                <td>Wojtek jest słabszy od Roberta</td>
                <td>Tak?</td>
                <td>No jasne</td>
            </tr>
        </tbody>

    </table>
</div>
